# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.php]
indent_size = 4

[*.sh]
indent_size = 4

[*.xml]
indent_size = 4

[*.{yaml,yml}]
trim_trailing_whitespace = false

[.gitmodules]
indent_size = 4

[.php_cs{,.dist}]
indent_size = 4

[composer.json]
indent_size = 4

[docker-compose{,.override}.{yaml,yml}]
indent_size = 2

[Dockerfile*]
indent_size = 4

[phpunit.xml{,.dist}]
indent_size = 4
