{% extends "@!NelmioApiDoc/SwaggerUi/index.html.twig" %}

{% block header %}
    <a href="{{ path('index') }}" id="logo"><img src="{{ asset('logo.png') }}" alt="Symfony Flex API"></a>
{% endblock header %}
